@media (max-width: 768px) {
    .menu{
        display: none;
    }
}


@media (max-width: 768px) {
    .conteudo-servicos {
        flex-direction: column;
    }

    .servicos h2 {
        font-size: 2rem;
    }

    .texto-servicos ul {
        font-size: 1rem;
    }

    .imagem-servico {
        max-width: 300px;
        margin-top: 20px;
    }


    @media (max-width: 768px) {
        .banner-conteudo {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }

        .texto {
            text-align: center;
        }

        .logo {
            margin: 0 auto 10px auto;
        }

        .foto-erica {
            width: 80%;
            max-width: 300px;
            margin: 0 auto;
        }

        .borboleta-top,
        .borboleta-bottom {
            width: 100px;
            /* Diminuindo o tamanho das borboletas no mobile */
        }

    }
}


/* Responsividade para telas menores */
@media (max-width: 735px) {
    /* Ajusta o carrossel para ocupar 100% da largura em telas pequenas */
    .carrossel {
        max-width: 100%;
        padding: 0 10px; /* Pequeno padding lateral para não encostar nas bordas */
    }

    /* Faz as imagens ocuparem 100% do container no mobile */
    .carrossel img {
        width: 100%; /* Ajusta a largura para 100% do container */
        height: auto; /* Mantém a proporção da imagem */
    }

    /* Ajusta o tamanho dos títulos e textos no mobile */
    .projetos__titulo {
        font-size: 1.2rem; /* Menor tamanho para telas menores */
    }

    .projetos__texto {
        font-size: 0.9rem; /* Texto menor para telas pequenas */
    }

    /* Ajusta os botões de navegação (prev e next) para ficarem menores no mobile */
    .prev, .next {
        padding: 8px;
    }
}

